__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/*.pyc
**/__pycache__
media
.DS_Store
*.sqlite3
*.env
bin/
include/
pip-selfcheck.json
.idea
dump.rdb
pyvenv.cfg
.env

ngrok
client_admin/test.mp4
client_admin/test.mp3